<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>Proyecto IAW</title>

		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--------------===============----------------CSS STYLES----------------------------------------------------------------->
    <link rel="stylesheet" type="text/css" href="src/common.css">
    <link rel="stylesheet" type="text/css" href="src/profileStyle.css">

 		<!----------------------------------------------BOOTSTRAP FRAMEWORK BEGIN-------------------------------------------------->

 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

		<!----------------------------------------------BOOTSTRAP FRAMEWORK END-------------------------------------------------->
	</head>
	
	<body style="background-color: rgb(43,48,54)">
		
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  			<ul class="navbar-nav">
   				 <li class="nav-item active">
     				 <a class="nav-link" href="index.html">Home</a>
   				 </li>
   				<li class="nav-item">
      				<a class="nav-link" href="#">Explore</a>
   				</li>
    			<li class="nav-item">
     				<a class="nav-link disabled" href="signIn.html">Sign In</a>
    			</li>
    			<li class="nav-item">
      				<a class="nav-link disabled" href="#">Sign Up</a>
    			</li>
    			<li class="nav-item">
      				<a class="nav-link " href="#">About</a>
    			</li>
          <li class="nav-item">
              <a class="nav-link " href="profile.html">Profile</a>
          </li>
 			 </ul>
		</nav>

		<div class="row" style="width: 100%">
  			<div class="column" style="bottom-margin:2vh; width: 21%;">
  				<div class="card" style="background-color: rgb(54,59,64);">
 					  <img class="card-img-top" src="src/img/Joey.jpg" alt="Card image">
  				 	  <div class="card-body">
    				  	<h4 class="card-title">Joey Ramone</h4>
   					  	<p class="card-text">Ramones's vocalist.</p>
  				  	</div>
  				</div>
  			</div>

  			<div class="column" style="width: 77%;">
  			   <div class="container-fluid">
              My Lists
              <br>
              <hr>
              <div class="divList">
                <div class="row">
                  <div class="column" style="padding-left: 1.5vw; padding-right: 1.5vw; width: 30vw;">
                    Song Name: Now I wannna sniff some glue!
                  </div>

                  <div class="column" style="padding-left: 1.5vw; padding-right: 1.5vw; width: 10vw;">
                    Duration: 3 min.
                  </div>
                </div>
              </div>

              <div class="divList">
                <div class="row">
                  <div class="column" style="padding-left: 1.5vw; padding-right: 1.5vw; width: 30vw;">
                    Song Name: I wannna be well
                  </div>

                  <div class="column" style="padding-left: 1.5vw; padding-right: 1.5vw; width: 10vw;">
                    Duration: 3 min.
                  </div>
                </div>
              </div>

              <div class="divList">
                <div class="row">
                  <div class="column" style="padding-left: 1.5vw; padding-right: 1.5vw; width: 30vw;">
                    Song Name: I wanna be sedated
                  </div>


                  <div class="column" style="padding-left: 1.5vw; padding-right: 1.5vw; width: 10vw;">
                    Duration: 3 min.
                  </div>
                </div>
              </div>

              <div class="divList">
                <div class="row">
                  <div class="column" style="padding-left: 1.5vw; padding-right: 1.5vw; width: 30vw;">
                    Song Name: I don't wanna go down to the basement.
                  </div>

                  
                  <div class="column" style="padding-left: 1.5vw; padding-right: 1.5vw; width: 10vw;">
                    Duration: 3 min.
                  </div>
                </div>
              </div>

  			   </div>
        </div>
		</div>

	</body>

</html>
